{% extends "contestpage.html" %}

{% block title %} - {{ contest.name }}{% endblock %}

{% block contestcontent %}
<!--<h1>Contest '{{ contest.name }}'</h1>-->
<h1>Submit solution</h1>
<form action="{% url 'cses.views.contest' contest.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
<tr><td>Task name:</td><td>&nbsp;</td><td>{{ form.task }}</td></tr>
<tr><td>Source file:</td><td>&nbsp;</td><td> {{ form.file }}</td></tr>
<tr><td>Language:</td><td>&nbsp;</td><td>{{ form.language }}</td></tr>
</table>
<script>
	var f = document.getElementById("id_file");
	var l = document.getElementById("id_language");
	var t = document.getElementById("id_task");

	function copy() {
		var v = f.value;
		var mid = v.lastIndexOf('.');
		if (mid<0) return;
		var start = v.substr(0,mid);
		var tmp = start.lastIndexOf('/');
		if (tmp>=0) start = start.substr(tmp+1);
		var tmp = start.lastIndexOf('\\');
		if (tmp>=0) start = start.substr(tmp+1);
		console.log(start);
		for(var i=0; i < t.length; ++i) {
			if (t.options[i].text == start) {
				t.value = t.options[i].value;
			}
		}
		var suffix = v.substr(mid+1);
		var r = "";
		{% for lang in form.fields.language.queryset %}if (suffix == "{{lang.suffix}}") r = "{{lang.name}}";
		{% endfor %}
		if (r == "") return;
		for (var i = 0; i < l.length; i++) {
			if (l.options[i].text == r) {
				l.value = i;
				return;
			}
		}
	}
	f.onchange = copy;
</script>
<p>
<input type="submit" value="Submit" />
</p>
</form>
{% endblock %}
