{% extends "contestpage.html" %}

{% block title %} - {{ contest.name }}{% endblock %}

{% block contestcontent %}
<!--<h1>Contest '{{ contest.name }}'</h1>-->
<h1>Submit solution</h1>
<form action="{% url 'cses.views.contest' contest.id %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
<tr><td>Task name:</td><td>&nbsp;</td><td>{{ form.task }}</td></tr>
<tr><td>Source file:</td><td>&nbsp;</td><td> {{ form.file }}</td></tr>
<tr><td>Language:</td><td>&nbsp;</td><td>{{ form.language }}</td></tr>
</table>
<script>
	var f = document.getElementById("id_file");
	var l = document.getElementById("id_language");

	function copy() {
		var v = f.value;
		var r = "";
		if (v.indexOf(".c") >= 0) r = "c";
		if (v.indexOf(".cpp") >= 0) r = "c++";
		if (v.indexOf(".java") >= 0) r = "java";
		if (v.indexOf(".py") >= 0) r = "python2";
		if (r == "") return;
		for (var i = 0; i < l.length; i++) {
			if (l.options[i].text == r) {
				l.value = i;
				return;
			}
		}
	}
	f.onchange = copy;
</script>
<p>
<input type="submit" value="Submit" />
</p>
</form>
{% endblock %}
