{% extends "contestpage.html" %}
{% block title %} - {{ contest.name }}{% endblock %}

{% block contestcontent %}
<!--<h1>Contest '{{ contest.name }}'</h1>-->
<h1>Submissions</h1>
<table border width="400" class="list">
	<thead><tr><td>Submission time</td><td>Task</td><td>Evaluation</td></tr></thead>
{% for submission in submissions %}
<tr>
	<td>{{ submission.time }}</td>
	<td>{{ submission.task }}</td>
	<td><a href="{% url 'cses.views.viewSubmission' submission.id %}">{{ submission.resultString }}</a></td>
</tr>
{% endfor %}
{% endblock %}
