{% extends "contestpage.html" %}
{% block title %} - {{ contest.name }}{% endblock %}

{% block contestcontent %}
<h1>Submission {{ submission.id }}: {% firstof submission.user.get_short_name submission.user.get_username %} - {{ submission.task }}</h1>
<p>Evaluation: {{ submission.resultString }} </p>
<p>Compiler output:<br/>
<pre>
{{ submission.compileResult }}
</pre></p>
{% load bbcode %}

{{ code|safe }}

<h2>Older submissions</h2>
<table border="1" class="list">
	<thead><tr>
		<th width="200">Submission time</th>
		<th width="80">Task</th>
		<th width="200">Evaluation</th>
	</tr></thead>
{% for submission in submissions %}
<tr class="{{ submission.colorType }}">
	<td>{{ submission.time }}</td>
	<td>{{ submission.task }}</td>
	<td><a href="{% url 'cses.views.viewSubmission' submission.id %}">
			<!--			<span class="sol {{ submission.colorType }}"> -->
				{{ submission.resultString }}
				<!--			</span> -->
	</a></td>
</tr>
{% endfor %}
</table>

<h2>Comments</h2>
{% for comment in comments %}
<h3>{{ comment.user }} - {{ comment.time }}</h3>
{{ comment.text|bbcode }}
{% endfor %}

<form method="post">
{% csrf_token %}
{{ commentform }}
<input type="submit" value="Send" />
</form>

{% endblock %}
