{% extends "contestpage.html" %}
{% block title %} - {{ contest.name }}{% endblock %}

{% block contestcontent %}
<h1>Submission {{ submission.id }}: {{ submission.user }} - {{ submission.task }}</h1>
<p>Evaluation: {{ submission.resultString }} </p>
<p>Compiler output:<br/>
<pre>
{{ submission.compileResult }}
</pre></p>

{{ code|safe }}

<h2>Comments</h2>
{% for comment in comments %}
<h3>{{ comment.user }} - {{ comment.time }}</h3>
{{ comment.text|linebreaks }}
{% endfor %}

<form method="post">
{% csrf_token %}
{{ commentform }}
<input type="submit" value="Send" />
</form>

{% endblock %}
